*{
    background-color: rgb(197, 192, 192);
    list-style: none;
}
.Listadetareas{
    margin-left:auto;
    margin-right:auto;
    padding: 10%;
    justify-content: center;
    
}
h1{
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 2%;
    background-color: grey;
    text-align:center;
    padding-top: 2%;
}
.todo-form{
    margin-left:auto;
    margin-right:auto;
    padding-top:2%;
    width:50%;
    height:100px;
}
input{
    width:70%
}
.todo-row{
    width:100%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.icon{
    display:float;
    right:150px;
    opacity:30%
}
.icon:hover{
    opacity:100%
}